/*---------------MovieBox-------------*/

.MovieBox {
  width: 430px;
  height: 300px;
  position: relative;
  transition: 0.5s;
  border-left: 5px solid transparent;
}

.MovieBox:hover {
  cursor: pointer;
  border-left: 5px solid #b95d5b;
  transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em);
  box-shadow: 0px 0px 0.75em rgba(45, 44, 44, 0.9);
}
.MovieBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 300px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.29) 0%,
    rgba(20, 20, 20, 0.2) 50%,
    rgba(83, 100, 141, 0) 100%
  );
  z-index: -1;
}
.MovieBox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MovieBox .text {
  padding: 30px 50px;
}
.MovieBox h3 {
  font-weight: 500;
  margin-bottom: 3%;
  color: white;
}
.MovieBox span {
  color: white;
}
.MovieBox button {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 13px;
  cursor: pointer;
}
.MovieBox button i {
  margin-right: 10px;
  color: white;
}

/*---------------MovieBox-------------*/
@media (max-width: 440px) {
  .MovieBox {
    width: 320px;
    height: 250px;
    border-left: 0px;
  }
}
/*---------------control-btn-------------*/
.control-btn button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.control-btn .next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.control-btn .prev {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 99;
}
