.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #f9efe4;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #B95D5B;;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #B95D5B;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #B95D5B;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #B95D5B;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #B95D5B;
  transition: all 0.5s ease;
  font-size: 2rem;
}

.footer-col .social-links a:hover {
  color: #484848;

}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 30%;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30%;
    justify-content: left;
    align-items: start;
  }
}
